<ul class="phase-sidebar-header-inner" role="tablist">
	<li
		class="phase-sidebar-tab"
		ng-repeat="tab in $ctrl.tabs() track by tab.id"
		ng-class="{ selected: tab.selected }"
		role="tab"
	>
		<a
			class="phase-sidebar-tab-link"
			href="{{::tab.link}}"
			aria-label="Open tab {{::tab.label}}"
			aria-selected="{{tab.selected}}"
			aria-controls="tabpanel-{{tab.id}}"
		>
			<zs-icon
				class="phase-sidebar-tab-icon"
				icon-type="{{::tab.icon}}"
			></zs-icon>
			<div class="phase-sidebar-tab-label" id="tab-label-{{::tab.id}}">{{::tab.label}}</div>
			<div
				class="phase-sidebar-tab-counter"
				ng-show="tab.count"
			>{{::tab.count}}</div>
		</a>
	</li>
</ul>
