<div class="proposal-vote-view__header">

	<div class="proposal-vote-view__header-container">

		<div class="proposal-vote-view__header-title">
			Toelichting op <strong>{{proposalVoteBar.choice}}</strong>
		</div>

		<div class="proposal-vote-view__header-buttons">
			<button ng-click="proposalVoteBar.goBack()">
				<zs-icon icon-type="window-close"></zs-icon>
				<span>Annuleren</span>
			</button>
			<button ng-click="proposalVoteBar.submitVote()">
				<zs-icon icon-type="check"></zs-icon>
				<span>Versturen</span>
			</button>
		</div>

	</div>
	
</div>

<div class="proposal-vote-view__body">
		
	<textarea 
		placeholder="Geef hier optioneel een toelichting" 
		ng-model="proposalVoteBar.comment"
	></textarea>

</div>
