select.dag{width:auto;}
select.maand{width:auto;}
select.jaar{width:auto;}
select.auto{width:auto;}

select.select100{width:100px;}
select.select125{width:125px;}
select.select150{width:150px;}
.select350{max-width: 350px;}
.oldie .select350{width: 350px;}

option{ padding:0 3px; }