input[type="checkbox"],
input[type="radio"]{
    border:none;
    @include box-shadow(none);
}

label > input[type="checkbox"],
label > input[type="radio"]{
    margin-right: 4px;
}

.radio-item, .checkbox-item{
    margin: 0 0 8px;
    display: inline-block !important;
    input{
        margin: 0 3px 0 0;
        padding: 0;
    }
    input,label{
        vertical-align: middle;
        display: inline-block;
        line-height: 1;
    }
}

.checkbox-item-disabled, .radio-item-disabled{
    color:#999;
}