<div class="pip-account-title pip-page-title">
    <h1>[% page_title %]</h1>
</div>

<div class="pip-block">
    <div class="pip-block-content">

        <form method="post" action="[% c.uri_for('/pip/altauth') %]">
            <fieldset>
                <input type="hidden" name="ztc_aanvrager_id" value="[% ztc_aanvrager_id %]" />
                <input type="hidden" name="update" value="1" />
                [% wgt_config.post_button = 1 %]
                [% PROCESS betrokkene/alternative_authentication.tt %]
            </fieldset>
        </form>

    </div>
</div>
