<div class="phase-sidebar-compact"
>

	<zs-case-phase-sidebar-tab-list
		data-tabs="$ctrl.getTabs()"
	>
	</zs-case-phase-sidebar-tab-list>

</div>

<div class="phase-sidebar"
>
	<zs-case-phase-sidebar-tab-list
		data-tabs="$ctrl.getTabs()"
	>
	</zs-case-phase-sidebar-tab-list>

	<div class="phase-sidebar-content" ng-switch="$ctrl.getSelectedTab()">

		<zs-case-action-list
			ng-switch-when="acties"
			id="tabpanel-{{$ctrl.getTabs()[0].id}}"
      role="tabpanel"
      case-id="$ctrl.caseId()"
			data-actions="$ctrl.getTabs()[0].children"
			data-actions-loading="$ctrl.actionsLoading()"
			on-action-automatic-toggle="$ctrl.handleActionAutomaticToggle($actionId, $automatic)"
			on-action-untaint="$ctrl.handleActionUntaint($actionId)"
			on-action-trigger="$ctrl.handleActionTrigger($action, $trigger, $data)"
			data-templates="$ctrl.templates()"
			data-requestor="$ctrl.requestor()"
			data-phases="$ctrl.phases()"
			phase-state="$ctrl.phaseState()"
			case-documents="$ctrl.caseDocuments()"
			data-disabled="!$ctrl.canEditActionList()"
			aria-labelledby="tab-label-{{$ctrl.getTabs()[0].id}}"
		>
		</zs-case-action-list>

		<zs-case-check-list
			ng-switch-when="checklist"
			id="tabpanel-{{$ctrl.getTabs()[1].id}}"
			role="tabpanel"
			data-items="$ctrl.getTabs()[1].children"
			data-checklist-loading="$ctrl.checklistLoading()"
			on-item-add="$ctrl.handleChecklistAdd($content)"
			on-item-remove="$ctrl.handleChecklistRemove($item)"
			on-item-toggle="$ctrl.handleChecklistToggle($item, $checked)"
			data-disabled="!$ctrl.canEditCheckList()"
			aria-labelledby="tab-label-{{$ctrl.getTabs()[1].id}}"
		>
		</zs-case-check-list>

	</div>

</div>

<button type="button" ng-click="$ctrl.handleCollapseClick()" class="phase-sidebar-collapse-button btn-floating btn-floating-small">
	<zs-icon icon-type="{{$ctrl.isSidebarCollapsed() ? 'chevron-left' : 'chevron-right'}}"></zs-icon>
</button>
