<div class="kenmerk-help">
    [% resultaat_metadata = BLOCK %]
        <strong>Naam (omschrijving):</strong> [% resultaat.label %]<br/>
        <strong>Resultaattype-generiek:</strong> [% resultaat.resultaat | ucfirst %]<br/>
        <strong>Selectielijst:</strong> [% resultaat.selectielijst %]<br/>
        <strong>Activeert bewaartermijn:</strong> [% resultaat.trigger_archival ? "Ja" : "Nee" %]<br/>
        <strong>Archiefnominatie:</strong> [% resultaat.archiefnominatie %]<br/>
        <strong>Bewaartermijn:</strong> [% ZOPTIONS.BEWAARTERMIJN.${resultaat.bewaartermijn} %]<br/>
        <strong>Brondatum archiefprocedure:</strong> [% resultaat.ingang %]<br/>
        <strong>Toelichting:</strong> [% resultaat.comments %]<br/>
        <span class="kenmerk-ztc has-icon"><i class="icon icon-kenmerk"></i> [% resultaat.resultaat | ucfirst %]</span>
    [% END %]

    [% PROCESS widgets/general/dropdown.tt
    icon = 'mdi',
    icon_type = 'mdi-information-outline icon-grey',
    dropdown_content = resultaat_metadata
    %]
</div>
