[% BLOCK display_result %]
    [% PROCESS widgets/zaak/zaak_result_row.tt %]
[% END %]

[% can_change_result = c.check_any_zaak_permission('zaak_beheer') || c.can_change %]

<div class="ezra_case_results kenmerk-resultaten ezra_field_wrapper"
    data-zs-case-result
    data-zs-case-result-can-change="[% c.check_any_zaak_permission('zaak_beheer') || c.can_change ? 'true' : 'false' %]"
    data-zs-case-result-is-resolved="[% zaak.is_afgehandeld ? 'true' : 'false' %]"
    data-resolve-early="[% RESOLVE_EARLY ? 'true': 'false' %]"
>
    
    [% IF RESOLVE_EARLY %]
    <div class="dialog-inner">
        <label>Reden afhandeling</label>
        <input type="text" class="input_large" name="reden" data-ng-required="true" data-ng-model="caseResult.reason"/>
    </div>
    [% END %]

    <div class="kenmerk-groep">
        <div class="kenmerk-groep-titel">
            <h4 class="kenmerk-titel">Resultaat[% UNLESS PIP %] <i class="ezra_required_field kenmerk-label-verplicht" title="Dit veld is verplicht" data-ng-show="caseResult.hasResult()"> * </i>[% END %]</h4>
            <span class="kenmerk-beschrijving">Elke zaak heeft een resultaat, dat aangeeft wat de einduitkomst is van een zaak. Daarnaast wordt het resultaat van een zaak gebruikt voor het bepalen van archiefeigenschappen.</span>
        </div>
    </div>
    [% USE Scalar %]
    [% resultaten = zaak.zaaktype_node_id.scalar.zaaktype_resultaten.scalar.search({}, {order_by => 'id'} ) %]
    <div class="case-result-option-list" data-ng-show="caseResult.canChange()||caseResult.getValue()">
        [% WHILE (row = resultaten.next) %]
            [% PROCESS display_result %]
        [% END %]
    </div>

    <div class="case-result-value kenmerk-veld" data-ng-show="!caseResult.canChange() && !caseResult.getValue()">
        Nog niet bekend.
    </div>

    [% IF RESOLVE_EARLY %]
    <div class="form-actions">
        <button type="button" class="button button-primary" data-ng-click="caseResult.resolve()" data-ng-disabled="!caseResult.isResolveButtonEnabled()">
            Afhandelen
        </button>
    </div>
    [% END %]

</div>

