<div class="ezra_case_action_edit">
    [% form_action = c.uri_for('/zaak/' _ action.get_column('case_id') _ '/action/data') %]

    <form action="[% form_action %]" method="POST">
        <input type="hidden" name="id" value="[% action.id %]" />
        <input type="hidden" name="action_type" value="[% action.type %]" />

        [% template = "zaak/actions/" _ action.type _ ".tt" %]
        [% PROCESS $template %]

        <div class="form-actions clearfix">
            [% exec_string = 'Nu uitvoeren' %]
            [% SWITCH action.type %]
                [% CASE 'case' %]
                [% exec_string = 'Starten' %]

                [% CASE 'email' %]
                [% exec_string = 'Versturen' %]

                [% CASE 'allocation' %]
                [% exec_string = 'Toewijzen' %]

                [% CASE 'template' %]
                [% exec_string = 'Aanmaken' %]
            [% END %]

            <input
                type="submit"
                name="execute"
                value="[% exec_string %]"
                class="button button-primary right"

                [% IF action.automatic %]
                disabled="disabled"
                title="deze actie wordt automatisch uitgevoerd bij de faseovergang"
                [% END %]
            />

            <input type="submit" name="commit" value="Opslaan" class="button button-primary right" />
        </div>
    </form>
</div>
