<div class="map-extended">
	<div class="map-extended-location" ng-repeat="location in vm.getLocations()">
		<div class="map-extended-location-label">
			<button type="button" ng-click="expanded=!expanded" class="button-reset map-extended-location-button">
				<span class="map-extended-location-button-inner">
					<span>{{::location.label}}</span>
					<zs-icon icon-type="{{expanded ? 'chevron-up' : 'chevron-down'}}"></zs-icon>
				</span>
			</button>
		</div>
		<ul class="map-extended-location-meta-list" ng-if="expanded">
			<li
				class="map-extended-location-meta"
				ng-repeat="field in location.fields"
			>
				<div class="map-extended-location-meta-label">
					{{::field.label}}
				</div>
				<div class="map-extended-location-meta-value">
					{{::field.value}}
				</div>
			</li>
		</ul>
	</div>
</div>
