@import "../../../styles/variables";

zs-timeline-event{
    display: flex;
    padding-bottom: 2rem;
    max-width: 550px;

    .timeline-event-icon{
        display: flex;
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        background: $blue;
        text-align: center;
        margin-right: 15px;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 3px #fff;

        @media #{$medium-large-and-up}{
            margin-right: 25px;
        }

        zs-icon{
            color: #fff;
            font-size: 1.1rem;
            display: flex;
        }
    }

    .timeline-event-col-content{
        width: 100%;
        min-width: 0px;
    }

    .timeline-event-meta{
        //display: flex;
        font-size: 13px;
        margin-bottom: 5px;
        margin-top:3px;
        span{
            font-weight: 500;
        }
        span, a{
            color: $grey;
        }
        a{
            text-decoration: underline;
            margin-left: 5px;
        }

    }

    .timeline-event-title{
        font-size: 1.0667rem;
        display: block;
        margin-bottom:.5rem;
        word-wrap: break-word;
    }

    zs-truncate-html{
        display: block;
        background-color: #f5f5f5;
        //padding:1rem;
        border-radius:10px;

        > div > div {
            padding: .75rem 1rem;
        }

        .vorm-fieldset-description-show-more{
            font-size: 11px;
            height: 1.3rem;
            line-height: 1.3rem;
            background-color: transparent;
            margin-top:0;
        }
    }

    @media #{$small-and-down}{

        .timeline-event-title{
            white-space: normal;
        }

    }

}