<p>Voer hier het IP in van de PBX server die inkomende telefoontjes registreerd en aanmeld in het Zaaksysteem</p>

<label>
    IP
    <input type="text" name="[% parameter %]" value="[% value %]" />
</label>
