<script>


$(document).ready( function() {
    bindClickHandler();
});


function bindClickHandler() {
    $('.ezra_activate_zaaktype_node_id').unbind('click').click( function() {

        var url = $(this).attr('href');
        
        if(!$('.ezra_beheer_zaaktypen_version input[name=commit_message]').val()) {
            $('.ezra_beheer_zaaktypen_version .ezra_error_commit_message').show();
            return false;
        }

        $('.ezra_beheer_zaaktypen_version').load(
            url + ' .ezra_beheer_zaaktypen_version_inner',
            '',
            function() {
                bindClickHandler();
            }
        );
        return false;
    });
}
</script>


<div class="ezra_beheer_zaaktypen_version versiebeheer_tabel">
    <div class="ezra_beheer_zaaktypen_version_inner">
        Korte omschrijving van de wijziging: <input type="text" name="commit_message"/>
        <div class="ezra_error_commit_message" style="display:none">*Verplicht</div>
<br/>

<strong>[% message %]</strong>

    <table>
        <thead>
            <tr>
                <th>Versie</th>
                <th>Datum</th>
                <th>Gebruiker</th>
                <th>Opmerking</th>
                <th>Actie</th>
            </tr>
        </thead>
        <tbody>

[% WHILE (zaaktype_node = zaaktype_nodes.next) %]

            <tr [% IF zaaktype_node.id == current_zaaktype_node_id %]class="current_zaaktype"[% END %]>
                <td>[% zaaktype_node.version %]</td>
                <td>[% zaaktype_node.created.set_time_zone('UTC').set_time_zone('Europe/Amsterdam').iso8601 %]</td>
                [%
                  log = zaaktype_node.logging_id;
                  IF log;
                    user = log.created_by_name_cache;
                    comment = log.onderwerp.remove('^Zaaktype .+ \(\d+\) is opgeslagen.');
                  ELSE;
                    comment = '';
                    user    = 'Admin';
                  END;
                %]
                <td>[% user %]</td>
                <td>[% comment %]</td>
                <td>[% IF zaaktype_node.id != current_zaaktype_node_id %]
                    <a class="ezra_activate_zaaktype_node_id knop no-icon mini" href="/beheer/zaaktypen/[% zaaktype_id %]/version/activate/[% zaaktype_node.id %]">activeren</a>[% END %]
                </td>
            </tr>

[% END %]

        </tbody>
    </table>

[% IF zaaktype_nodes_pager && zaaktype_nodes.pager.total_entries > max_rows && !c.req.params.show_all_results %]
Er zijn meer resultaten..
<a href="/beheer/zaaktypen/[% zaaktype_id %]/version?show_all_results=1">Toon alle resultaten</a>
[% END %]
    </div>
</div>
