[% IF wgt_config.post_button && !pip %]
<form
    method="POST"
    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) | html_entity %]"
    class="submitWaiter"
    >
    <input type="hidden" name="referer" value="[% c.req.uri | html_entity %]" />
[% END %]
<div class="grid-table form">
    [% UNLESS pip %]
    <div class="row">
        <div class="column large-4"><label>Authentiek:</label></div>
        <div class="column large-8">
            [% IF betrokkene.authenticated %]
                <i class="icon icon-graphic icon-betrokkene-gm"></i>
            [% ELSE %]
                <i class="icon icon-graphic icon-betrokkene-zs"></i>
            [% END %]
        </div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Bron:</label></div>
        <div class="column large-8">
            [% IF is_active %]
              [% IF betrokkene.authenticated %]
                  GBA
                  [% IF betrokkene.subscription_id %]
                      (Afnemerindicatie (sleutelVerzendend): [% betrokkene.subscription_id.external_id %])
                  [% END %]
              [% ELSE %]
                  [% betrokkene.authenticatedby %]
              [% END %]
            [% ELSE %]
            -
            [% END %]
        </div>
    </div>
    [% END %]

    [% is_persoonsverwerker = 0;
        FOREACH role IN c.user.roles; IF role.name == 'Persoonsverwerker'; is_persoonsverwerker = 1; END; END;
    %]

    <div class="row">
        <div class="column large-4"><label>BSN:</label></div>
        [%-
            bsn = betrokkene.burgerservicenummer;
            IF bsn;
                bsn = bsn FILTER format('%09d');
                hide_str = '&bull;';
                bsn_partial = hide_str.repeat(9) _ bsn.substr(6, 0);
            END;
        %]
        <div class="column large-8">
            [% IF pip %]
                [% bsn %]
            [% ELSE %]
                [% IF bsn %]
            <div class="sensitive-data" data-trigger-betrokkene_identifier="[% betrokkene.betrokkene_identifier %]">
                <div class="sensitive-item" data-sensitive-data="personal_number">
                    [% bsn_partial %]
                </div>
                [% IF is_persoonsverwerker %]
                  <button class="sensitive-data-trigger button button-secondary" type="button">Bekijken</button>
                [% END %]
            </div>
                [% ELSE %]
                -
                [% END %]
            [% END %]
        </div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Voornamen:</label></div>
        <div class="column large-8">[% betrokkene.voornamen || "-" | html_entity %]</div>
    </div>

    <div class="row">
        <div class="column large-4"><label>Tussenvoegsels:</label></div>
        <div class="column large-8">[% betrokkene.voorvoegsel || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Geslachtsnaam:</label></div>
        <div class="column large-8">[% betrokkene.geslachtsnaam || "-" | html_entity %]</div>

    </div>
    [% IF betrokkene.adellijke_titel %]
    <div class="row">
        <div class="column large-4"><label>Adellijke titel:</label></div>
        <div class="column large-8">[% betrokkene.adellijke_titel || "-" | html_entity %]</div>
    </div>
    [% END %]
    <div class="row">
        <div class="column large-4"><label>Naamgebruik:</label></div>
        <div class="column large-8">[% betrokkene.achternaam || "-" | html_entity %]</div>

    </div>
    <div class="row">
        <div class="column large-4"><label>Geboortedatum:</label></div>
        <div class="column large-8">[% betrokkene.geboortedatum.clone().set_time_zone('Europe/Amsterdam').dmy || "-" %]</div>
    </div>
    [% UNLESS pip %]
    <div class="row">
        <div class="column large-4"><label>Overlijdensdatum:</label></div>
        <div class="column large-8">[%
            betrokkene.datum_overlijden.clone().set_time_zone('Europe/Amsterdam').dmy || "-" %]</div>
    </div>
    [% END %]
    <div class="row">
        [% betrokkene_geslachtsaanduiding = '-' %]
        [% IF betrokkene.geslachtsaanduiding == 'V'; betrokkene_geslachtsaanduiding = 'Vrouw'; END %]
        [% IF betrokkene.geslachtsaanduiding == 'M'; betrokkene_geslachtsaanduiding = 'Man'  ; END %]
        <div class="column large-4"><label>Geslacht:</label></div>
        <div class="column large-8">[% betrokkene_geslachtsaanduiding %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Binnengemeentelijk:</label></div>
        <div class="column large-8">[% (betrokkene.in_gemeente ? 'Ja' : 'Nee') || "-" %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Land:</label></div>
        <div class="column large-8">[% betrokkene.country || "-" | html_entity %]</div>
    </div>
    [% IF betrokkene.landcode == 6030 %]
    <div class="row">
        <div class="column large-4"><label>Briefadres:</label></div>
        <div class="column large-8">[% betrokkene.functie_adres == 'B' ? 'Ja' : 'Nee' %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label><strong>Verblijfsadres:</strong></label></div>
        <div class="column large-8"></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Straatnaam:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_straatnaam || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummer:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_huisnummer || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisletter:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_huisletter || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummertoevoeging:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_huisnummertoevoeging || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Postcode:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_postcode || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Woonplaats:</label></div>
        <div class="column large-8">[% betrokkene.verblijf_woonplaats || "-" | html_entity %]</div>
    </div>
    [% IF betrokkene.functie_adres == 'B' %]
    <div class="row">
        <div class="column large-4"><label><strong>Briefadres:</strong></label></div>
        <div class="column large-8"></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Straatnaam:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_straatnaam || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummer:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_huisnummer || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisletter:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_huisletter || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Huisnummertoevoeging:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_huisnummertoevoeging || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Postcode:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_postcode || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Woonplaats:</label></div>
        <div class="column large-8">[% betrokkene.correspondentie_woonplaats || "-" | html_entity %]</div>
    </div>
    [% END %]
    [% ELSE %]
    <div class="row">
        <div class="column large-4"><label>Adresregel 1:</label></div>
        <div class="column large-8">[% betrokkene.adres_buitenland1 || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Adresregel 2:</label></div>
        <div class="column large-8">[% betrokkene.adres_buitenland2 || "-" | html_entity %]</div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Adresregel 3:</label></div>
        <div class="column large-8">[% betrokkene.adres_buitenland3 || "-" | html_entity %]</div>
    </div>
    [% END %]
    [% IF is_active || pip %]
    <div class="row">
        <div class="column large-4"><label>Telefoonnummer:</label></div>
        <div class="column large-8"><input type="text" name="npc-telefoonnummer" class="infinite" value="[% betrokkene.telefoonnummer | html_entity %]"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>Telefoonnummer (mobiel):</label></div>
        <div class="column large-8"><input type="text" name="npc-mobiel" class="infinite" value="[% betrokkene.mobiel | html_entity %]"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-4"><label>E-mail:</label></div>
        <div class="column large-8"><input type="text" name="npc-email" class="infinite" value="[% betrokkene.email | html_entity %]"><span class="validator"></span></div>
    </div>
    [% UNLESS pip %]
    <div class="row">
        <div class="column large-4"><label>Interne notitie:</label></div>
        <div class="column large-8"><input type="text" name="npc-note" class="infinite" value="[% betrokkene.note | html_entity %]"><span class="validator"></span></div>
    </div>
    [% END %]
    [% END %]
</div>
    [% IF wgt_config.post_button && ( is_active || pip ) %]
    <div class="form-actions">
         <input type="submit" value="Opslaan" class="button button-primary">    
    </div>       
    [% END %]
[% IF wgt_config.post_button %]
</form>
[% END %]
