[% BLOCK select_import %]
<tr>
    <td class="td250">
        <strong>Plaats hier de StUF valide XML:</strong>
    </td>
    <td>
        <strong style="color:red;">[% dependency_error %]</strong>
        [% PROCESS widgets/general/veldoptie.tt
            veldoptie_type  = 'textarea',
            veldoptie_name  = 'stuf_message',
        %]
    </td>
</tr>
[% END %]

<div class="block clearfix import">
    <p class="header">Gegevens muteren</p>
    <div class="blockcontent">
        [% IF success %]
        <div>
            <pre style="overflow: auto;">
                [% return_message | html_entity %]
            </pre>
        </div>
        [% END %]
        <form enctype="multipart/form-data" method="post" action="[% c.uri_for('/api/stuf/manual') %]">
            <table class="marginbottom">
                <tr>
                    <td class="td150">
                        <strong style="color:red;">LET OP: Dit is een
                        EXPERIMENTELE feature, absoluut niet gebruiken zonder
                        toestemming van zaaksysteem.nl.<br /><br />
                        </strong>
                    </td>
                </tr>
            [% PROCESS select_import %]
            </table>
            [% UNLESS succes %]
             <input type="submit" class="button button-primary right" value="Volgende"/>
            [% END %]
        </form>
    </div>
</div>
