@import '../../styles/variables';

.message-list {
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
	padding: 0;
	flex: 0 0 auto;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 3;
}

.case-message {
	padding: 0.5rem 1rem 0.4rem;
	background-color: $light-yellow;
	margin-bottom: 0;
	font-size: 1em;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);

}

.case-message-text {
	flex-grow: 1;
	flex-wrap: wrap;
}

.case-message-label {
	line-height: 1.7;
	justify-content: center;
}

.case-message-action-list {
	display: inline-flex;
	vertical-align: middle;
}

.case-message-action-button.btn {
	height: 2rem;
	line-height: 2rem;
	margin-left: 5px;
	padding-right: 0.2rem;
	padding-left: 0.2rem;

	&:hover {
		background: transparent;
		text-decoration: underline;
	}
}

.case-message-hide-button {
	display: flex;
	font-size: 1.4rem;
	padding: 0;
	opacity: 0.3;

	&:hover {
		opacity: 1;
	}
}
