@import "./../ui/zsDropdownMenu/dropdown-menu";

.contextual-setting-list {
	margin: 0;
	padding: 0;
}

.contextual-setting {
	@extend .popup-menu-list-item;
}

.contextual-setting-button {
	@extend .popup-menu-list-item-button;
	color:#000;
		&:hover{
			color:#555;
		}
}
