[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="prelogin-bedrijfsid">
    <div class="block">
        <div class="block-header">
            <div class="block-header-inner">
                <h1 class="block-header-title">Login als bedrijf</h1>
            </div>
        </div>
        <div class="block-content">
            <div class="row">
                <div class="column large-6">
                    <div class="prelogin">
                        [%- eherkenning = 0 %]
                        [%-
                          FOREACH saml_interface IN saml_interfaces;
                            IF saml_interface.jpath('$.saml_type') == 'eherkenning';
                            THEN;
                              eherkenning = 1;
                            ELSIF saml_interface.jpath('$.saml_type') == 'spoof' and saml_interface.jpath('$.login_type_company');
                              eherkenning = 1;
                            END;
                        %]
                        <div class="prelogin-button">
                            <a href=[% c.uri_for('/auth/saml/' _ saml_interface.id, { success_endpoint => c.req.query_params.success_endpoint }) | html_entity %] type="submit" value="Inloggen met [% saml_interface.name | html_entity %]" class="button button-primary button-mega button-id">
                                Inloggen met <strong>[% saml_interface.name %]</strong>
                            </a>
                        </div>
                        [% END %]

                        [% IF enable_mintlab_id %]
                        <div id="[% c.config.gemeente_id %]idknop" class="prelogin-button">
                            <a href="[% c.uri_for('/auth/bedrijfid/1', { success_endpoint => c.req.query_params.success_endpoint }) %]" class="button-[% c.config.gemeente_id %] button-primary button button-mega button-id">
                                Inloggen met <strong>[% c.get_customer_info.naam %]<span>ID</span></strong>
                            </a>
                        </div>
                        [% END %]
                    </div>
                </div>

                <div class="column large-5 large-offset-1">
                    [% IF eherkenning -%]
                    <div class="prelogin-info clearfix">
                        <div class="prelogin-info-tekst col">
                            <img src="/images/eherkenning-logo.svg" />
                            <h3>Wat is eHerkenning?</h3>
                            <p>
                                eHerkenning is een authenticatiemiddel voor
                                organisaties. Lees meer over eHerkenning op <a href="https://www.eherkenning.nl/inloggen-met-eherkenning/">eHerkenning.nl/inloggen</a>.
                            </p>
                            <p>Heeft u nog geen eHerkenning? Ga naar <a href="https://www.eherkenning.nl/inloggen-met-eherkenning/">eHerkenning.nl/aanvragen</a> om eHerkenning inloggegevens aan te vragen.</p>
                        </div>
                    </div>
                    [% END -%]

                    [% IF enable_mintlab_id %]
                    <div class="prelogin-info clearfix">

                        <div class="prelogin-info-tekst col">
        				    <h3>Wat is een [% c.get_customer_info.naam %]ID?</h3>

                            <p>
                                [% c.get_customer_info.naam %]ID is een
                                authenticatiemiddel voor organisaties om zaken
                                te regelen bij de gemeente
                                [% c.get_customer_info.naam %]. Het
                                [% c.get_customer_info.naam %]ID bestaat uit een
                                gebruikersnaam en een wachtwoord.
                            </p>
                        </div>
                    </div>
                    [% END %]
                </div>
            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
