@import "../partials/compass/compass-opacity";

$pip-nav-border-color:#ccc !default;
$pip-nav-anchor-color:#777 !default;
$pip-nav-anchor-color-active:#000 !default;

.pip-nav{
	border-bottom:$pip-nav-border-width solid $pip-nav-border-color;
	ul li{
		a{
			padding:$pip-nav-item-padding;
			margin:$pip-nav-item-margin;
            color:$pip-nav-anchor-color;
		}
		&.current a, a:hover {
            border-bottom:$pip-nav-border-width solid black;
            margin-bottom:-$pip-nav-border-width;
            color:$pip-nav-anchor-color-active;
            text-decoration: none;
        }
    }
    ul li.right a{
    	margin-right:0;
    	@include opacity(.65);
    	&:hover{
    		@include opacity(1);
    	}
    }
}
