[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

<div class="block succes done">
    <div class="block-header">
        <div class="block-header-inner">
            <h1 class="block-header-title">[% zaaktype.titel %]</h1>
        </div>
    </div>
        
    <div class="block-content">	
        <div class="row">
            
            <div class="column large-7">
                <h2>
                    <i class=" icon-ok icon-font-awesome"></i>
                    [% IF betaling %]
                        Uw betaling is gelukt
                    [% ELSE %]
                        [% finish_title | html %]
                    [% END %]
                </h2>

                <p class="subnote">
                    [% finish_message %]
                </p>

                [% UNLESS behandelaar_form || is_preset_client %]
                <p class="subnote">
                    Ook kunt u op elk moment van de dag de voortgang en inhoud van
                    deze zaak inzien via "Mijn [% c.get_customer_info.naam %]".
                </p>

                <p>
                    <a href="[% pip_url | html_entity %]" class="button button-primary">
                        Ga naar Mijn [% c.get_customer_info.naam %]
                    </a>
                </p>
                [% END %]
            </div>
        </div>
    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
