
[%- BLOCK linklabel %]
    [%- IF link.active %]<strong>[% END %][% link.label %][%- IF link.active %]</strong>[%- END %]
[%- END %]

[% IF ( navigation_links.size || 0 ) > 1 %]
<ul class="form-navigation[% IF disabled %] form-navigation-disabled[% END %]">
    [% FOREACH link IN navigation_links %]
    <li class="[% link.classes %]"
    [% FOREACH attribute IN link.attributes %]
        [% attribute.key %]="[% attribute.value %]"
    [% END %]
    >
      
     
        [% IF link.url && !disabled %]
        <a href="[% link.url | replace('&', '&amp;') %]" tabindex="0">
            [% PROCESS linklabel %]
        </a>
        [% ELSE %]
            [% PROCESS linklabel %]
        [% END %]
    </li>
    [% END %]
</ul>
[% END %]