[% RETURN IF c.user_exists -%]
        </div>
    </div>

<div id="footer" class="bg_3 text_7">    <div class="container">        <div class="container-inner"><div class="wysiwyg box_1">

<p id="footer-line-height">Gemeente Lansingerland<br>
Tobias Asserlaan 1<br>
2662 SB Bergschenhoek</p>

<p id="footer-line-height">Servicepunt Bleiswijk<br>
Dorpsstraat 7<br>
2665 BG  Bleiswijk</p>



<p><a href="https://www.lansingerland.nl/" title="Link naar website">www.lansingerland.nl</a></p></div>
<div class="koppelbox box_2"> 
</div>
<div class="footer-extra"></div>
<div id="logo-bottom">
<a href="https://www.lansingerland.nl/"></a>
</div>
</div>
</div>
</div>


[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]



</body>
</html>
