.xential-modal .modal-content{
	width:550px;
}

.xential-modal-icon{
	margin:40px auto 30px;
	text-align: center;
	i{
		font-size:5em;
	}
}

.xential-modal-spinner{
	position: relative;
	width:32px;
	height:32px;
}

.xential-modal-text{
	text-align: center;
	margin-bottom:40px;
	button{

	}
}