<div id="create_relatie" class="form">
    <form method="POST" action="[% c.uri_for(c.action,c.req.captures) %]/[% document.id %]" class="zvalidate">
    <input type="hidden" name="confirmed" value="1" />
    <table>
        <tbody>
            <tr>
                <td class="td200">Weigeren van document:</td>
                <td>[% document.filename %]</td>
                <td class="td260"></td>
            </tr>
            [% IF is_extern_geplaatst %]
            <tr>
                <td class="td200">LET OP:</td>
                <td>
                    Dit document is toegevoegd via het webformulier of de PIP.
                    Door dit document te weigeren, zal het worden verwijderd.
                    Vergeet niet de betrokkene via een ander kanaal op de
                    hoogte te stellen van deze weigering.
                </td>
                <td class="td260"></td>
            </tr>
            [% END %]
            <tr>
                <td>Reden:</td>
                <td><textarea name="omschrijving"></textarea></td>
                <td>
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                        </div>
                    </div>
                    <div style="display: none;" class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Geef een korte reden waarom dit document geen
                            onderdeel van deze zaak kan zijn.
                        </div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-actions">
    <input type="submit" value="Weigeren" id="dialog-submit" class="button button-primary" />
    </div>
    </form>
</div>
