@import "partials/dependencies";
@import "../../../../client/src/shared/styles/variables";
@import "partials/widget-search";

.widget-favorites-empty{
	font-size:14px;
	color: #bbb;
	line-height: 2;
	margin-bottom: 10px;
}

.widget-favorites-list{
	margin-bottom:15px;
}

.widget-favorites-list-item{
	display: block;
	list-style: none;
	border: 1px solid transparent;
	border-bottom:1px solid #ddd;
	padding:8px 0px;
	position:relative;
	// &.zs-sorting > * {
	// 	visibility: hidden;
	// }
	&.zs-sorting {
		border: 1px dashed #ccc;
		background: #f8f8f8;
	}
	&:hover{
		.widget-favorites-list-item-actions{
			display: block;
		}
	}
}

.widget-favorites-list-item-label, .widget-favorites-list-item-drag{
	display: inline-block;
	vertical-align: middle;
}

.widget-favorites-list-item-drag{
	width:10px;
	height:24px;
	background:url("/images/drag.png") no-repeat scroll 0 0 transparent;
	background-repeat:repeat;
	margin-right:7px;
	display: none;
}

.widget-favorites-list-item-label .icon{
	margin-right:6px;
}

.widget-favorites-list-item-actions{
	display: none;
	position: absolute;
	right:5px;
	top:50%;
	margin-top:-10px;
	button{
		width:16px;
		height:16px;
		background:none;
		color:#000;
		font-size:13px;
		i{
			color:#ccc;
			&:hover{
				color:#000;
			}
		}
	}
}

.widget-favorites-list-add{
	.spot-enlighter-wrapper{
		width:300px;
	}
	input[type="text"].ng-dirty.ng-invalid{
		@include box-shadow(none);
		border-color:#bbb;
	}
}

.widget-favorites-list-item-drag-ghost {
	border: 1px solid #eee;
	background-color: white;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	white-space: nowrap;
	position: fixed;
	z-index: 100;
	padding: 0 10px 0 5px;
}