<div class="action">
    <table>
        <tr>
            <td><strong>Vraag:</strong></td>
            <td>[% item.properties.faq_question || '-' %]</td>
        </tr>
        <tr>
            <td><strong>Antwoord:</strong></td>
            <td>[% item.properties.faq_answer || '-' %]</td>
        </tr>
        <tr>
            <td><strong>Relaties:</strong></td>
            <td>
                <ul>
                    [% FOREACH relation IN item.relations %]
                    [% NEXT UNLESS relation.local_id %]
                    <li>
                        [% IF relation.type == 'faq' %]
                        Vraag
                        [% ELSIF relation.type == 'product' %]
                        Product
                        [% END %]
                        -
                        [% relation.label %]
                    </li>
                    [% END %]
                </ul>
            </td>
        </tr>
    </table>
</div>
