.error-message{
	position:absolute;
	top:50%;
	margin-top:-260px;
	left:50%;
	margin-left:-205px;
	width:410px;
	padding-top:65px;
}

.error-image{
	width:100%;
	height:139px;
	background:url(/images/error-logo.png) center center no-repeat;
	margin-bottom:30px;
}

.error-text{
	float:left;
	text-align: center;
}

.error-title,
.error-subtext,
.error-code{
	text-align:center;
	line-height:1.4;
}

.error-title{
	font-size:36px;
	margin-bottom:5px;
}

.error-subtext{
	font-size:20px;
	color:#999;
}

.error-code{
	color:#aaa;
	font-size:12px;
	margin-top:20px;
	background:#ddd;
	@include border-radius(10px);
	display: inline-block;
	padding:5px 10px;
}