.forced-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.forced-scrollbar::-webkit-scrollbar:vertical {
    width: 8px;
}

.forced-scrollbar::-webkit-scrollbar:horizontal {
    height: 8px;
}

.forced-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 8px;
    border: 2px solid transparent; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.forced-scrollbar::-webkit-scrollbar-track { 
    background-color: transparent; 
    //border-radius: 8px; 
} 