[% RETURN IF c.user_exists -%]
        </div>
    </div>

[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]
<div class="footer-btt">
    <div class="d-block" style="height:140px;background-color:#6f734f;">
        <div class="col-auto d-block align-self-center mx-auto" style="padding:45px;"><img class="d-block align-items-center mx-auto" src="../../form/imk/img/imk-logo-wit-250x45.png" style="width:250px;height:45px;"></div>
        <div class="col-auto col-xl-12 offset-xl-0 d-block align-self-center mx-auto" style="padding:45px;background-color:#5f643b;">
        		<div class="wpb_wrapper">
                <div class="instituut">
			<p>Instituut voor het Midden- en Kleinbedrijf</p>
            </div>
			<p>Amsterdamsestraatweg 57 &#9656; 3744 MA Baarn &#9656; Postbus 443 &#9656; 3740 AK Baarn  &#9656; <br>
088 999 00 00 &#9656; info@imk.nl &#9656; www.imk.nl &#9656; NEN-EN-ISO 9001:2015 gecertificeerd</p>
<p>&#9400;  Instituut voor het Midden- en Kleinbedrijf &#9656; Alle rechten voorbehouden</p>

		</div>
        </div>
    </div>
      </div>

</html>
